.filter__box {
  padding-block: 0.5rem;
  padding-inline: 1.2rem;
  outline: none;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background: inherit;
  color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: 0.25s ease-in;
  cursor: pointer;
  background-image: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-family: var(--font-family);
  font-weight: 700;
}
.filter__box option {
  background: inherit;
  color: initial;
}

@media (max-width: 500px) {
  .filter__box {
    text-align: center;
  }
}
