.search__box {
  display: flex;
  gap: 0.5rem;
  padding-inline: 0.5rem;
  align-items: center;
  width: 20rem;
  padding-block: 0.5rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: inherit;
  border-radius: 0.5rem;
  transition: 0.25s ease-in;
}

.search__box input {
  border: none;
  outline: none;
  width: fit-content;
  background: inherit;
  color: inherit;
}
.search__box input::placeholder {
  font-family: var(--font-family);
  font-size: 1rem;
  background: inherit;
  color: inherit;
}
.search__form label {
  position: absolute;
  left: -99999px;
}
