.search__box {
  display: flex;
  gap: 0.5rem;
  padding-inline: 0.5rem;
  align-items: center;
  width: fit-content;
  padding-block: 0.5rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 1);
  border-radius: 1rem;
  transition: 0.25s ease-in;
}
.search__box:hover {
  box-shadow: 0 5px 15px rgba(255, 0, 70, 0.5);
}

.search__box input {
  border: none;
  outline: none;
  width: fit-content;
}
.search__box input::placeholder {
  font-family: var(--font-family);
  font-size: 1rem;
}
.search__form label {
  position: absolute;
  left: -99999px;
}
