@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap");
:root {
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue: hsl(207, 26%, 17%);
  --very-dark-blue: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --mobile-breakpoint: 400px;
  --font-family: "Nunito Sans", sans-serif;
  --body-padding: 5%;
  --normal-weight: 400;
  --very-bold-weight: 800;
  --bg-color: #fbfcfa;
}

html {
  font-size: 100%;
}
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  font-weight: var(--normal-weight);
  background: var(--bg-color);
}
